body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 1200px;
}

.navbar{
   
    color: white;
    background-color: #84040c;
    padding: 15px;
}

.navbar p{
    display: inline;
    font-size: 20px;
}

.logo{
    display: inline;
}

.navigation{
    float: right;
    display: inline;
}
.link{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}
.main_news{
    margin-top: 10px;
    background-color: #acdada;
    display: flex;
}
.photo{
    padding: 20px;  
}

.div_photo{
    display: inline-block;
    width: 40%;
    
}
.dis{
    display: inline-block;
    width: 55%;

}
.dis h2{
font-size: 30px;
}

.dis p{
    line-height: 1.5;
    font-size: 20px;
}

.another{
    display: inline-block;
    border: rgb(0, 0, 0,0.2) 1px solid;
    width: calc((100% - 38px)/4);
    margin-left: 10px;
    float: left;
    
 
    
}
.another h3{
 min-height: 25px;
}
.another:first-child{
    margin-left: 0px;
}



.info{
    padding-left: 10px;
}
.last{
    text-align: center;
}


button{
    margin-bottom: 15px;
    border-radius: 0px;
    background-color: #84040c;
    color: white;
    padding: 10px;
    border: none;

}
.others{
    width: 100%;
    margin-top: 30px;
    
}


